*{
    margin: 0px;
    padding: 0px;
}
header{
    display: flex;
    justify-content: space-between;
    align-items:center;
    box-shadow: 0px 10px 8px rgba(128, 128, 128, 0.318);
    background-color: #fff;
    padding:15px 100px;
    
}
nav ul{
    display: flex;
    align-items: center;
    gap: 30px;
    list-style: none;
    
    
}
nav ul li a {
    text-decoration: none;
    color: #333;
}
/*for corosol  */
main{
    display:grid;
    grid-template-columns: 1fr 1fr;
    padding: 50px 100px;
    gap:50px;
    

}
.intro{
   padding-top: 230px;
}

cards{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:20px;
    text-align: center;
    margin: 40px 50px;

}
cards div {
    padding: 50px 0;
    border-radius: 10px;
}
.car {
    background-color: bisque;
}
.pay {
    background-color: lightblue;
}
.shield {
    background-color: lightgreen;
}
.headphones {
    background-color: lavender;
}
cards i {
    font-size: 30px;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 15px;
    border-radius: 50%;
    margin-bottom: 10px;
}

/* Section Titles */
.container h2,
.container1 h2 {
    
    font-size: 28px;
    margin-bottom: 30px;
    font-weight: 600;
}

/* Items Grid */
.container, .container1 {
    padding: 0 200px;
    
}
.items,.items1{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    /* border: 2px solid red; */
    margin-inline:100px;
    /* margin-bottom: 100px; */
}


.sofa,.armchair,.ph,.bs{
   background: #fff;
    padding: 20px;
    /* height: 500px; */
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
    text-align: left;
    position: relative;
    padding-top: 56px;
    max-block-size: 500px;
    max-inline-size: 300px;

}
/* offer section */
.offer p {
  background-color: blue; 
  color: white;
  padding: 4px 10px;
  font-size: 14px;
  border-radius: 12px;
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 10;
  font-weight: bold;
  letter-spacing: 0.5px;
  
}
.armchair .image img{
  width: 150px;
}
.items img,
.items1 img {
    width: 250px;
    object-fit: contain;
    margin-bottom: 15px;

}
.items h3, .items1 h3 {
    font-size: 16px;
    margin-bottom: 8px;
}
.items p, .items1 p {
    margin: 8px 0;
    font-weight: 600;
}


span{
    color:gold;
}






footer{
    display: grid;
    color: white;
    grid-template-columns:25% 75%;
    margin-top: 20px;
    padding-top: 50px;
    padding-bottom: 75px;
   
    background-color: rgb(18, 51, 108);
}
footer div{
    margin-inline-start: 100px;
    gap: 10px;
    margin-inline-end: 30px;
    
}
.content{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    margin-inline-start: 0px;
    /* padding-inline-start: 90px; */
    
}
.titles{
    margin-bottom: 10px;
}
ul li{
    padding-bottom: 5px;
    color: lightsteelblue;
}
.adress p{
    /* line-height: 0.7cm; */
    margin-top: 8px;
    color: lightsteelblue;
}
